*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: white;
  background: black;
  display: flex;
  font-family: sans-serif;
  min-width: 100vw;
  justify-content: center;
  align-items: flex-start;
  padding: 10em;
}